.sidebar-container {
    width: 25%; 
    height: 100%;
    background-color: #ddeedf;
    float: left;
    color: #388e3c;
    text-align: center;
    overflow: hidden;
}

.sidebar-container2 {
    width: 25%; 
    height: 100vh; /* Change height to 100vh */
    background-color: #ddeedf;
    position: fixed; /* Set position to fixed */

    bottom: 0; /* Position from the bottom */
    left: 0; /* Position from the left */
    color: #388e3c;
    text-align: center;
    overflow-y: auto; /* Enable vertical scrolling if content exceeds viewport height */
}
